* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    background-color: rgb(0, 162, 255);
}

.onglets {

    padding: 12px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.onglets a {
    color: #f10a0a;
    background-color: rgb(210, 221, 210);
    padding: 5px;
    border-radius: 10px solid black;
    font-weight: bolder;
    letter-spacing: 3px;


}

.card-footer {
    background-color: rgb(0, 162, 255);
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}